body {
	background-color: #DCD0C0;
	color: #373737;
}

h1 {
	font-weight: bold; 
	text-align: center;
	color: #C0B283;
}

h4 {
	font-weight: bold;
	color: #C0B283;
}

.specifier {
	font-size: 16px;
	font-style: italic;
}

.education, .classes {
	margin-left: 20px;
	font-size: 16px;
}